* {
    font-family: 'Comfortaa', cursive, "Arial", Impact, Charcoal, sans-serif;
}

/* header/title styles */
header {
    background-color: #073763;
    padding: 10px 0px 10px 0px;
    margin-bottom: 15px;
}

.name {
    color: white;
    font-style: 700;
}

h1 {
    text-shadow: 8px 8px 5px rgb(65, 15, 65);
}

/* search button */
#search-button {
    border-radius: 4px;
    background-color: #073763;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 5px 30px;
    margin-bottom: 40px;
    font-family: 'Comfortaa', cursive, "Arial", Impact, Charcoal, sans-serif;
}

#search-button:hover {
    opacity: 0.7;
}

/* genre select field */
.input-field {
    background-color: #f2e7b0 !important;
    margin: 5%;
    box-shadow: 8px 8px 5px rgb(65, 15, 65);
}
.select-dropdown {
    font-family: 'Comfortaa', cursive, "Arial", Impact, Charcoal, sans-serif !important;
}

#genre-select {
    padding-left: 10px;
}

/* genre options */
span {
    color: black !important;
    text-shadow: 2px 2px 4px rgb(65, 15, 65);
}

a {
    color: black !important;
}

/* text in card */
label {
    color: white !important;
}

/* label for genre select */
.genre-label {
    color: black !important;
    text-shadow: 2px 2px 4px purple;
}
